{% extends "base.html" %}


{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beers</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
{% block content %}
    <!-- <a href="{{ url_for('root') }}">Home</a>
    <a href="{{ url_for('home') }}">Beers</a> -->
    
    <ul>
        {% for b in msg %}
        <li> {{ b }} </li>
        {% endfor %}
    </ul>
{% endblock %}